#logged,
#notLogged {
    display: none;
}


#logged img {
    display: block;
    margin: 1rem auto 0 auto;
    width: 100%;
    max-width: 280px;
}

#logged small, #logged div {
    display: block;
    text-align: center;
}

#logged div {
    font-weight: bold;
    margin-bottom: .25rem;
}

#toGoogle, #btnLogout, #btnLogin {
font-size: inherit;
font-family: inherit;
color: white;
border: none;
padding: .5rem 1rem;
}

#toGoogle, #btnLogin {
    background-color: steelblue;
}

#btnLogout {
    background-color: orangered;
}