{% extends 'layout.html' %}

{% block article %}

<h2>Faça Contato</h2>

{% if page.sended %}

<div class="feedback">
    <h3>Olá {{ page.first_name }}!</h3>
    <p>Seu contato foi enviado com sucesso.</p>
    <p><em>Obrigado...</em></p>
</div>

{% else %}

<form action="/contacts" method="post" id="contact">

    <p>Preencha os campos abaixo para entrar em contato conosco.</p>

    <p class="required">Todos os campos são obrigatórios.</p>

    <p>
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required minlength="3" placeholder="Seu nome completo">
    </p>

    <p>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" required placeholder="Seu e-mail principal">
    </p>

    <p>
        <label for="subject">Assunto:</label>
        <input type="text" name="subject" id="subject" required minlength="5" placeholder="Assunto do contato">
    </p>

    <p>
        <label for="message">Mensagem:</label>
        <textarea name="message" id="message" required minlength="5" placeholder="Mensagem do contato"></textarea>
    </p>

    <p>
        <button type="submit">Enviar</button>
        <small>&larr; Clique somente uma vez.</small>
    </p>

</form>

{% endif %}

<script>
    // Evita o reenvio dos formulários ao atualizar a página
    if (window.history.replaceState) window.history.replaceState(null, null, window.location.href);
</script>

{% endblock %}

{% block aside %}

<h3><i class="fa-solid fa-plus"></i> Contatos</h3>

<p>Acesse nossas redes sociais para saber mais sobre o <strong>{{ page.site.name }}</strong>.</p>

<div class="social">

    {% for social in page.site.social %}

    <a href="{{ social.link }}" target="_blank" title="{{ social.name }}">{{ social.icon | safe }}</a>

    {% endfor%}

</div>

<h3><i class="fa-solid fa-plus"></i> Sobre</h3>
<nav>
    <a href="/about">Sobre</a>
    <a href="/privacy">Políticas de privacidade</a>
</nav>

{% endblock %}