{% extends 'layout.html' %}

{% block article %}

<div id="logged">

    <h2>Usuário anônimo</h2>

    <img src="/static/img/user.png" alt="Usuário anônimo" referrerpolicy="no-referrer">
    <div id="email">anonimous@email.com</div>
    <small id="id">Sem Id</small>
    <ul>
        <li id="registered">00/00/0000</li>
        <li id="lastLogin">00/00/0000</li>
    </ul>
    <p>Sua conta é gerenciada pelo Google. Para editar seu perfil, clique no botão abaixo:</p>
    <p class="center">
        <button id="toGoogle"><i class="fa-brands fa-google fa-fw"></i> Ver perfil no Google</button>
    </p>
    <p>Clique no botão baixo para sair do aplicativo neste computador:</p>
    <p class="center">
        <button id="btnLogout"><i class="fa-solid fa-right-from-bracket fa-fw"></i> Logout / Sair</button>
    </p>

</div>

<div id="notLogged">
    <h2>Perfil de usuário</h2>
    <p>Logue-se para ver o seu perfil no {{ site.name }}.</p>
    <p class="center">
        <button id="btnLogin"><i class="fa-brands fa-google fa-fw"></i> Logue-se com o Google</button>
    </p>
</div>

{% endblock %}


{% block aside %}

<h3>Links úteis</h3>

<ul>
    <li><a href="/about">Sobre...</a></li>
    <li><a href="/contacts">Faça contato</a></li>
    <li><a href="/privacy">Sua privacidade</a></li>
</ul>


{% if comments != () %}
&nbsp;
<h3>Comentários recentes</h3>

<div class="aside-comments">

    {% for comment in comments %}

    <div>
        <h4><a href="/view/{{ comment.com_article }}#comments">{{ comment.art_title }}</a></h4>
        {{ comment.com_comment }}
    </div>

    {% endfor %}

</div>

{% endif %}

{% endblock %}